<!-- Hello world Augular
This is my title {{title}}
<br/>
Ninja name {{ninjaName}}
<button type="button" (click)="ninjaConsole()">Ninja Console</button>
<button type="button" (click)="ninjaChange('Sakura')">Ninja Change to Sakura</button>
<button type="button" (click)="ninjaChange('Satsuke')">Ninja Change to Satsuke</button>
<button type="button" (click)="ninjaChange('Naruto')">Ninja Change to Naruto</button>
 -->

<!-- <span>มา 4 จ่าย 3</span>
 <div>
  <input #inputBuffetPrice type="tesxt" placeholder="ราคาบุฟเฟ่" value="2000">
  <button (click)="calculate43(inputBuffetPrice.value)">คำนวน</button>
 </div>
<span>
  คนละ {{price}} บาท
</span> -->

<!-- <app-action-bar (numberChange)="testNumberChange($event)" [step]="5"></app-action-bar>
<app-action-bar (numberChange)="testNumberChange($event)" [step]="10"></app-action-bar>
<button type="button" (click)="testEventBlind()">testEventBlind</button> -->

<!-- <app-max-min-meter [minLabel]="appMaxLabel" [maxLabel]="appMaxLabel" (minChange)="doAppMinChange($event)" (maxChange)="doAppMaxChange($event)"></app-max-min-meter> -->


<!-- 10 -->
<!-- <app-sqaure-flex [divWidth]="squareWidth" [divHeight]="squareHeight"></app-sqaure-flex>
<div>
<button type="button" (click)="squareWidth = 50">50px:</button>
<button type="button" (click)="squareWidth = 100">150px:</button>
<button type="button" (click)="squareWidth = 150">250px:</button>

</div> -->

<!-- <app-action-bar [counter]="appCounter" [(counter)]="appCounter">

</app-action-bar>

<app-sqaure-flex [divWidth]="appCounter">

</app-sqaure-flex> -->

<!-- 11 -->


<!-- <app-action-bar *ngIf="true"></app-action-bar> -->


<!-- 12 -->
<!-- 
<div *ngIf="activate else elseTemplate">

  <app-action-bar></app-action-bar>
</div>

<ng-template #elseTemplate>

  <div>
    Activate now
  </div>
</ng-template>

<button type="button" (click)="activate = true">Activate</button> -->
<!-- 
<app-action-bar [inputDisplay]="false"></app-action-bar>

<app-action-bar [inputDisplay]="true"></app-action-bar> -->

<!-- 13 -->
<!-- {{customerList[0]}} -->

<!-- 14 -->

<!-- {{customerList[0]}}
<ul>
  <li *ngFor="let customer of customerList">{{customer}}</li>
</ul> -->

<!-- 15 -->


<!-- {{customerList[0]}}
<ul>
  <li *ngFor="let customer of customerList">{{customer}}</li>
</ul>
<button type="button" (click)="pushMethod()">Push</button>
<button type="button" (click)="unshiftCustomer()">unshift</button> -->

<!-- 16 -->

<!-- {{customerList[0]}}
<ul>
  <li *ngFor="let customer of customerList;let i=index">{{customer}}
    <button (click)="removeCustomer(i)">remove</button>
  </li>
  
</ul>
<button type="button" (click)="pushMethod()">Push</button>
<button type="button" (click)="unshiftCustomer()">unshift</button> -->

<!-- 17 -->
<!-- 
<app-test-request-get></app-test-request-get> -->

<!-- 20 -->

<!-- <h5>Float Label</h5>
<span class="p-float-label">
    <input id="float-input" type="text" pInputText [(ngModel)]="value2"> 
    <label for="float-input">Username</label>
</span> -->

<!-- 22 -->
<!-- <app-shopping-cart [value]="0"></app-shopping-cart>
<app-shopping-cart [value]="1"></app-shopping-cart>
<app-shopping-cart [value]="100"></app-shopping-cart> -->

<!-- 23 -->

<!-- <app-shopping-search (onSearch)="searchProduct($event)"></app-shopping-search>
<div>
  <div *ngFor="let product of filteredproducts">
    {{product.name}}

  </div>
</div> -->


<!-- get set var -->

<!-- <button (click)="addPrice(10)">add 10</button>
<button (click)="addPrice(50)">add 50</button>
{{sumaryPrice}} -->


<!-- directive -->
<!-- <input (appHttpBook)="bookList = $event" type="text">
{{bookList | json}} -->

<!-- form -->


<!-- <div style="    display: flex;
flex-direction: column;
row-gap: 0.5em;
">
  <div>
    <input type="text" pInputText [(ngModel)]="employeeCode" required 
    #employeeCodeNgModel="ngModel" placeholder="รหัส">
    <p-message severity="error" text="Field is required" *ngIf="employeeCodeNgModel.invalid"></p-message>
  </div>
  <div>
    <input type="text" pInputText [(ngModel)]="employeeName">
  </div>
  <div>
    <p-button label="บันทึก" [disabled]="employeeCodeNgModel.invalid == true"></p-button>
  </div>
</div> -->

<!-- Reactive Form -->

<!-- <div class="grid">
  <div class="col-12 md:col-6 lg:col-3">
    <input type="text" [formControl]="weightForm" pInputText class="w-full" placeholder="weight kg">
    
  </div>
  <div class="col-12 md:col-6 lg:col-3">
    <input type="text" [formControl]="heightForm" pInputText class="w-full" placeholder="heiht m">
  
  </div>
  <div class="col-12 md:col-6 lg:col-6">
    <p-button label="Calculate BMI" (onClick)="calculate()"></p-button>
    <span *ngIf="weightForm.invalid && weightForm.touched">กรอกน้ำหนัก</span>
    <span *ngIf="heightForm.invalid && heightForm.touched">กรอกความสูง</span>
  </div>
<div class="grid">
  <div class="col-12">BMI : {{bmi}}</div>
</div>
<div class="grid">
  <div class="col-12">INFO : {{info}}</div>
</div>

</div> -->


<!-- Validator -->
<!-- <div class="grid">
  <div class="col-12 md:col-6 lg:col-3">
    <input type="text" [formControl]="emailForm" pInputText class="w-full" placeholder="email">
  
  </div>
  <div class="col-12 md:col-6 lg:col-6">
    <p-button label="ส่ง"></p-button>
    <span *ngIf="emailForm.hasError('required') && emailForm.invalid && emailForm.touched"> email is not valiable</span>
    <span *ngIf="emailForm.hasError('email') && emailForm.invalid && emailForm.touched">wtf email systax</span>
    -----------------
    {{emailForm.errors | json}}
  </div>
</div> -->


<!-- pipe -->

<!-- <p-table [value]="pokemonChooseList">
  <ng-template pTemplate="header">
    <tr>
      <th>id</th>
      <th>pokename</th>
      <th>choose</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-pokemon let-rowIndex="rowIndex">
    <tr>
      <td>{{ pokemon.id }}</td>
      <td>{{ pokemon.pokename }}</td>
      <td>{{ pokemon.choose | choose }}</td>
    </tr>
  </ng-template>
</p-table> -->

<!-- View child -->
<div>
  <input type="checkbox" id="toggle-checkbox" [(ngModel)]="isShowImage">
  <button (click)="smallImage()"> small</button>
  <button (click)="mediumImage()">medium</button>
  <button (click)="bigImage()">big</button>
</div>
<img 
*ngIf="isShowImage" class="transition-width" src="https://static.trueplookpanya.com/tppy/member/m_545000_547500/545994/cms/images/2019-Q3/%E0%B9%81%E0%B8%A1%E0%B8%A79%E0%B8%8A%E0%B8%B5%E0%B8%A7%E0%B8%B4%E0%B8%95.jpg"
alt="cat" #catImage width="175px">

